<%= render "govuk_component/title", title: "Topics" %>

<div class="level-one-taxons-wrapper">
  <ul class="level-one-taxons-list">
    <% @level_one_taxons.each do |taxon| %>
      <li class="level-one-taxons-item">
        <%= link_to(taxon["title"], "/topics#{taxon["base_path"]}" ) %>
      </li>
    <% end %>
  </ul>
</div>
