// From govuk_frontend_toolkit
@import '_colours.scss';
@import '_grid_layout.scss';
@import '_typography.scss';

 // Application-wide styles - we should move to components when implementing future designs.
body {
  @include core-19;
}

h2 {
  margin: $gutter 0 $gutter-one-third;
  @include bold-24;
}

ul {
  li {
  list-style-type: none;
  margin: 5px 0
  }
}

.topics-document-type-stats {
  background-color: $grey-3;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 14px;
 }

.sub-topics-tagged-content-count {
  background-color: $grey-3;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 14px;
 }

.tagged-content-groups {
  margin: $gutter 0 0;
}

.document-type-group-list {
  margin: 0 0 $gutter;
}

h3 {
  margin-bottom: $gutter-one-third;
  @include bold-19;
}
