// From govuk_frontend_toolkit
 @import '_grid_layout.scss';
 @import '_typography.scss';

 // Application-wide styles - we should move to components when implementing future designs.
body {
  @include core-19;
}

 h2 {
  margin: $gutter 0 $gutter-one-third;
  @include bold-24;
 }
